<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/all.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/swiper-bundle.css">
<link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="assets/css/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="assets/css/aos.css">
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>
<header id="header" class="shadow">
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
<div class="container-fluid">
<a class="navbar-brand py-2 px-1" href="#">
FaniTure
</a>
<ul class="nav-icons my-auto text-center ">
<li class="nav-item d-inline-block ">
    <a class="nav-link" href="#">
    <i class="fas fa-bell"></i>
    <span class="text-center badge rounded-circle  bg-danger d-flex">1</span>
    </a>
</li>
<li class="nav-item d-inline-block">
    <a class="nav-link" href="#">
    <i class="fas fa-heart"></i>
    <span class="text-center badge rounded-circle bg-danger d-flex">1</span>
    </a>
</li>
<li class="nav-item d-inline-block">
    <a class="nav-link " href="cart.php">
    <i class="fas fa-shopping-cart"></i>
    <span class="text-center badge rounded-circle bg-danger d-flex">1</span>
    </a>
</li>
</ul>
<button class="navbar-toggler  " type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-icon">
<i class="fas fa-align-justify "></i>
</span>
</button>
<div class="collapse navbar-collapse" id="">
<ul class="navbar-nav mx-auto mb-2 mb-md-0">
<li class="nav-item  me-1">
    <a class="nav-link " aria-current="page" href="#">Home</a>
</li>
<li class="nav-item  dropdown me-1">
    <a class="nav-link  dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" id="drop" href="#" aria-expanded="false">Categories</a>
    <ul class="dropdown-menu" aria-labelledby="drop">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
</li>
<li class="nav-item me-1 ">
    <a class="nav-link " href="#">Who we are</a>
</li>
<li class="nav-item me-1 ">
    <a class="nav-link " href="#">blog</a>
</li>
</ul>

</div>

<form class="d-flex form-search mx-auto ">
<div class="input-group">
<input class="form-control input-search" type="search" placeholder="Search" aria-label="Search" aria-describedby="search">
<button class="btn btn-dark btn-search" type="submit"><i class="fas fa-search"></i></button>
</div>
</form>
</div>
</nav>

</header>
<main id="main" class="content my-2">
<section class="side_menu">
<div  class="collapse side_nav" id="navbarTogglerDemo01">
<div class="close ">
<i class="fas fa-times bg-primary fa-2x " data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" aria-hidden="true"></i>
</div>
<ul class="nav flex-column  ">
<li class="nav-item nav_item mb-1">
<a class="nav-link nav_link" aria-current="page" href="#">Home</a>
</li>
<li class="nav-item nav_item dropdown mb-1">
<a class="nav-link nav_link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" id="drop" href="#" aria-expanded="false">Categories</a>
<ul class="dropdown-menu" aria-labelledby="drop">
<li><a class="dropdown-item" href="#">Action</a></li>
<li><a class="dropdown-item" href="#">Another action</a></li>
<li><a class="dropdown-item" href="#">Something else here</a></li>
<li><hr class="dropdown-divider"></li>
<li><a class="dropdown-item" href="#">Separated link</a></li>
</ul>
</li>
<li class="nav-item nav_item ">
<a class="nav-link nav_link" href="#">Who we are</a>
</li>
</ul> 
</div>
</section>
<section class="banner " id="banner">
<div class="owl-carousel owl-theme">
<div class="item">
<img src="assets/img/banner-1.jpg">
</div>
<div class="item">
<img src="assets/img/banner-2.jpg">
</div>
<div class="item">
<img src="assets/img/banner-bg.png">
</div>
</div>
</section>
<section class="latest_products " id="latest">
<div class="container">
<!-- <button class="btn btn-primary"  id="button">Load</button> -->
<h5>Latest Products</h5>
<div class="swiper-container">
<div class="swiper-wrapper">
<div class="swiper-slide product-box py-2 px-2 my-2 rounded-2">
<button type="submit" class="btn btn-heart fas fa-heart"></button>
<div class="product-img mt-3">
<a href="product.php" >
<img src="assets/img/banner-1.jpg" class="img-fluid">
</a>
</div>
<h6 class="text-center">Asian style sofa</h6>
<div class="price mt-2">
<p class="text-center">Shs<strong>200000</strong></p>
</div>
<div class="cart mt-2">
<button type="submit" class="btn btn-light w-100">Add to cart</button>
<!-- <p class="text-center">Shs<strong>200000</strong></p> -->
</div>
</div>
<div class="swiper-slide product-box py-2 px-2 my-2 rounded-2">
<button type="submit" class="btn btn-heart fas fa-heart"></button>
<div class="product-img mt-3">
<a href="product.html">
<img src="assets/img/banner-2.jpg" class="img-fluid">
</a>
</div>
<h6 class="text-center">American double bed</h6>
<div class="price mt-2">
<p class="text-center">Shs<strong>1500000</strong></p>
</div>
<div class="cart mt-2">
<button type="submit" class="btn btn-light w-100">Add to cart</button>
<!-- <p class="text-center">Shs<strong>200000</strong></p> -->
</div>
</div>
<div class="swiper-slide product-box py-2 px-2 my-2 rounded-2">
<button type="submit" class="btn btn-heart fas fa-heart"></button>
<div class="product-img mt-3">
<a href="product.html">
<img src="assets/img/banner-1.jpg" class="img-fluid">
</a>
</div>
<h6 class="text-center">Dinning table</h6>
<div class="price mt-2">
<p class="text-center">Shs<strong>200000</strong></p>
</div>
<div class="cart mt-2">
<button type="submit" class="btn btn-light w-100">Add to cart</button>
<!-- <p class="text-center">Shs<strong>200000</strong></p> -->
</div>
</div>
</div>

<!-- next, prev buttons -->
<div class="swiper-button- d-none">
<i class="fas fa-angle-right swiper-icon"></i>
</div>
<div class="swiper-button-prev d-none">
<i class="fas fa-angle-left swiper-icon"></i>
</div>
<!-- pagination -->
<!-- <div class="swiper-pagination"></div> -->


</div>
</div>
</section>
<section class="explore_products mt-5" id="explore">
<div class="container">
<h5>Explore Products</h5>
<div class="row">
<div class="col-md-3 col-6 ">
<div class="product-box py-2 px-2 my-2 rounded-2">
<button type="submit" class="btn btn-heart fas fa-heart"></button>
<div class="product-img mt-3">
<a href="product.html">
<img src="assets/img/banner-1.jpg" class="img-fluid">
</a>
</div>
<h6 class="text-center">Asian style sofa</h6>
<div class="price mt-2">
<p class="text-center">Shs<strong>200000</strong></p>
</div>
<div class="cart mt-2">
<button type="submit" class="btn btn-light w-100">Add to cart</button>
<!-- <p class="text-center">Shs<strong>200000</strong></p> -->
</div>
</div>
</div>
<div class="col-md-3 col-6">
<div class=" product-box py-2 px-2 my-2 rounded-2">
<button type="submit" class="btn btn-heart fas fa-heart"></button>
<div class="product-img mt-3">
<a href="product.html">
<img src="assets/img/banner-1.jpg" class="img-fluid">
</a>
</div>
<h6 class="text-center">Asian style sofa</h6>
<div class="price mt-2">
<p class="text-center">Shs<strong>200000</strong></p>
</div>
<div class="cart mt-2">
<button type="submit" class="btn btn-light w-100">Add to cart</button>
<!-- <p class="text-center">Shs<strong>200000</strong></p> -->
</div>
</div>
</div>
<div class="col-md-3 col-6">
<div class=" product-box py-2 px-2 my-2 rounded-2">
<button type="submit" class="btn btn-heart fas fa-heart"></button>
<div class="product-img mt-3">
<a href="product.html">
<img src="assets/img/banner-1.jpg" class="img-fluid">
</a>
</div>
<h6 class="text-center">Asian style sofa</h6>
<div class="price mt-2">
<p class="text-center">Shs<strong>200000</strong></p>
</div>
<div class="cart mt-2">
<button type="submit" class="btn btn-light w-100">Add to cart</button>
<!-- <p class="text-center">Shs<strong>200000</strong></p> -->
</div>
</div>
</div>
<div class="col-md-3 col-6">
<div class=" product-box py-2 px-2 my-2 rounded-2">
<button type="submit" class="btn btn-heart fas fa-heart"></button>
<div class="product-img mt-3">
<a href="product.html">
<img src="assets/img/banner-1.jpg" class="img-fluid">
</a>
</div>
<h6 class="text-center">Asian style sofa</h6>
<div class="price mt-2">
<p class="text-center">Shs<strong>200000</strong></p>
</div>
<div class="cart mt-2">
<button type="submit" class="btn btn-light w-100">Add to cart</button>
<!-- <p class="text-center">Shs<strong>200000</strong></p> -->
</div>
</div>
</div>
</div>
</div>
</section>
</main>
<!--  footer section -->
<footer id="footer" class="bg-dark footer text-white pt-5">
<div class="container">
<div class="row">
<div class="col-md-3 col-12">
<div class="row">
<div class="col-5 footer-img">
<p class="logo py-3 px-2 text-center">
FaniTure
</p>
</div>
<div class="col-7">
<p class="font-size-12 text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing lit, sed do eiusmod. consectetur adipisicing elit, sed do eiusmod
</p>
</div> 
</div>

</div>
<div class="col-md-4 col-12">
<h4 class="">News Letter</h4>
<form class="row news-letter">
<div class="col-auto">
<input type="text" readonly class="form-control" placeholder="Email">
</div>
<div class="col-auto news-letter-btn">
<button type="submit" class="btn btn-primary ">Subscribe</button>
</div>

</form>
</div>
<div class="col-md-2 col-12">
<h4 class="">Information</h4>
<div class="d-flex flex-column flex-wrap">
<a href="" class="font-size-12 text-white-50 pb-1">About Us</a>
<a href="" class="font-size-12 text-white-50 pb-1">Delivery Information</a>
<a href="" class="font-size-12 text-white-50 pb-1">Privacy Policy</a>
<a href="" class="font-size-12 text-white-50 pb-1">Terms and Condition</a>
</div>
</div>
<div class="col-md-2 col-12">
<h4 class="">Accounts</h4>
<div class="d-flex flex-column flex-wrap">
<a href="" class="font-size-12 text-white-50 pb-1">My Account</a>
<a href="" class="font-size-12 text-white-50 pb-1">Order History</a>
<a href="" class="font-size-12 text-white-50 pb-1">Wishlist</a>
<a href="" class="font-size-12 text-white-50 pb-1">Newsletter</a>
</div>
</div>
</div>
</div>
<!-- ! footer section -->
<div class="copyright text-center bg-dark text-white py-2">
<p class="font-size-12">&copy; Copyrights 2021. Made By <a href="" class="">Negus</a></p>
</div>
</footer>
<script src="assets/js/jquery-3.5.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/swiper-bundle.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/aos.js" ></script>
<script src="assets/js/main.js"></script>
</body>
</html>